
**/data/private/
hidden_labels.csv

__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
build/
dist/
.uv/

*.pt
*.pth
*.ckpt
outputs/
mlruns/
lightning_logs/


!submissions/.gitkeep
.DS_Store
.vscode/
.idea/
*.swp

data/private/